body {
    padding: 0;
    margin: 0;
    border:0;
    background-color: #000;
}

#socialDiv {
    border: 2px solid;
    position: absolute;
    right: 0px;
    bottom: 0px;
    float: right;
}

    @font-face {
        font-family: 'font2';
        src: url('res/font2.TTF');
        src: local('☺')
        url('res/font2.TTF') format('truetype');
    }
