<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,111},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>bombButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,111},{105,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,107}}</string>
                <key>sourceSize</key>
                <string>{105,107}</string>
            </dict>
            <key>bombButtonPress.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,111},{105,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,107}}</string>
                <key>sourceSize</key>
                <string>{105,107}</string>
            </dict>
            <key>bombIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,111},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>cashIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,111},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>heroShoot.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,111},{50,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,64}}</string>
                <key>sourceSize</key>
                <string>{50,64}</string>
            </dict>
            <key>leftButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,111},{105,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,107}}</string>
                <key>sourceSize</key>
                <string>{105,107}</string>
            </dict>
            <key>leftButtonPress.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,111},{105,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,107}}</string>
                <key>sourceSize</key>
                <string>{105,107}</string>
            </dict>
            <key>livesIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,54},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>nailButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,111},{105,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,107}}</string>
                <key>sourceSize</key>
                <string>{105,107}</string>
            </dict>
            <key>nailButtonPress.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,111},{105,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,107}}</string>
                <key>sourceSize</key>
                <string>{105,107}</string>
            </dict>
            <key>nailsIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>pauseButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,111},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>rightButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,111},{105,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,107}}</string>
                <key>sourceSize</key>
                <string>{105,107}</string>
            </dict>
            <key>rightButtonPress.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,111},{105,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,107}}</string>
                <key>sourceSize</key>
                <string>{105,107}</string>
            </dict>
            <key>spikes.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,54},{165,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,55}}</string>
                <key>sourceSize</key>
                <string>{165,55}</string>
            </dict>
            <key>timeIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,54},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>timeSeekBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{1080,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1080,50}}</string>
                <key>sourceSize</key>
                <string>{1080,50}</string>
            </dict>
            <key>topSpikes.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1080,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1080,50}}</string>
                <key>sourceSize</key>
                <string>{1080,50}</string>
            </dict>
            <key>walk10.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,111},{50,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,64}}</string>
                <key>sourceSize</key>
                <string>{50,64}</string>
            </dict>
            <key>walk20.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,111},{50,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,64}}</string>
                <key>sourceSize</key>
                <string>{50,64}</string>
            </dict>
            <key>walk30.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,111},{50,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,64}}</string>
                <key>sourceSize</key>
                <string>{50,64}</string>
            </dict>
            <key>walk40.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,111},{50,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,64}}</string>
                <key>sourceSize</key>
                <string>{50,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameSheet.png</string>
            <key>size</key>
            <string>{1408,220}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de06d495a8761a549ff0848214190eab$</string>
            <key>textureFileName</key>
            <string>gameSheet.png</string>
        </dict>
    </dict>
</plist>
