<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>menuCreditsButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,68},{311,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,55}}</string>
                <key>sourceSize</key>
                <string>{311,55}</string>
            </dict>
            <key>menuFBButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{65,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,68}}</string>
                <key>sourceSize</key>
                <string>{65,68}</string>
            </dict>
            <key>menuGoogleButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,0},{65,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,68}}</string>
                <key>sourceSize</key>
                <string>{65,68}</string>
            </dict>
            <key>menuInstructionButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,68},{311,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,55}}</string>
                <key>sourceSize</key>
                <string>{311,55}</string>
            </dict>
            <key>menuOptionsButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,68},{311,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,55}}</string>
                <key>sourceSize</key>
                <string>{311,55}</string>
            </dict>
            <key>menuPlayButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,0},{311,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,55}}</string>
                <key>sourceSize</key>
                <string>{311,55}</string>
            </dict>
            <key>menuScoreButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,0},{311,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,55}}</string>
                <key>sourceSize</key>
                <string>{311,55}</string>
            </dict>
            <key>menuTwitterButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,0},{65,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,68}}</string>
                <key>sourceSize</key>
                <string>{65,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menuSheet.png</string>
            <key>size</key>
            <string>{933,123}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28e0c829cd9e4f41d960497fe273c283$</string>
            <key>textureFileName</key>
            <string>menuSheet.png</string>
        </dict>
    </dict>
</plist>
