<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shoot.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,153}}</string>
                <key>sourceSize</key>
                <string>{120,153}</string>
            </dict>
            <key>walk10.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{120,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,153}}</string>
                <key>sourceSize</key>
                <string>{120,153}</string>
            </dict>
            <key>walk20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{120,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,153}}</string>
                <key>sourceSize</key>
                <string>{120,153}</string>
            </dict>
            <key>walk30.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,157},{120,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,153}}</string>
                <key>sourceSize</key>
                <string>{120,153}</string>
            </dict>
            <key>walk40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{120,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,153}}</string>
                <key>sourceSize</key>
                <string>{120,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heroSprite.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c4fe3f6e0099fedfe25fc38f27217a8$</string>
            <key>textureFileName</key>
            <string>heroSprite.png</string>
        </dict>
    </dict>
</plist>
